h1, h2, h3 {
	font-family: Helvetica, sans-serif;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	position: relative;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 72px;
	line-height: 86px;
	font-weight: 500;
	padding-bottom: 10px;
	&:after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 210px;
		bottom: 0;
		background-color: #35bb6c;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
h2 {
	line-height: 56px;
	font-size: 48px;
	margin: 10px 0;
	font-weight: 400;
}

body {
	background-image: url('/img/keyboard.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
}
main {
	margin: auto;
	text-align: center;
}