{% extends 'layouts/default.twig' %}
{% set head_title = 'Home' %}
{% set body_class = 'page-index' %}

{% block page %}
    <h1>Welcome to homepage!</h1>
    <h2>This is my awesome website</h2>
{% endblock %}
