  <base href="/">
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{ head_title }} &middot; Demo</title>
  <meta name="description" content="" />
  <meta name="keywords" content="web app development, gitlab, ci cd" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#1E2126" />


  <link rel="stylesheet" href="css/main.min.css" />
