<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include '../components/head-content.twig' %}
</head>

<body>

  <main>
  {% block page %}{% endblock %}
  </main>

  <script type="text/javascript" src="js/main.min.js" async></script>
</body>
</html>
