server {
    listen 80;
    listen [::]:80;
    
    server_name {{ nginx_server_name }};

    location / {  # the default location redirects to https
        return 301 https://$server_name$request_uri;
    }

    location /.well-known {
        alias {{ letsencrypt_dir }}/.well-known;
    }
}

{% if nginx_use_https %}
server {
    # SSL configuration
    #
    listen 443 ssl;
    listen [::]:443 ssl;

    include snippets/ssl-le-{{ nginx_server_name }}.conf;
    include snippets/ssl-params.conf;

    server_name {{ nginx_server_name }};

    location / {
        root {{ nginx_vhost_site_root }};
    }

    error_page 404 /404.html;
}
{% endif %}
