listen=NO
listen_ipv6=YES

anonymous_enable=NO

local_enable=YES
write_enable=YES

dirmessage_enable=YES

use_localtime=YES

xferlog_enable=YES

connect_from_port_20=YES

chroot_local_user=YES
local_umask=022

userlist_enable=YES
userlist_file=/etc/vsftpd.user_list
userlist_deny=NO

secure_chroot_dir=/var/run/vsftpd/empty

pam_service_name=vsftpd

rsa_cert_file=/etc/letsencrypt/live/{{ nginx_server_name }}/fullchain.pem
rsa_private_key_file=/etc/letsencrypt/live/{{ nginx_server_name }}/privkey.pem
ssl_enable=YES
force_local_data_ssl=YES
force_local_logins_ssl=YES
ssl_tlsv1=YES
ssl_sslv2=NO
ssl_sslv3=NO

pasv_min_port=40000
pasv_max_port=40099

utf8_filesystem=YES
